.menu {
    display: none;
}
.menu.active {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 9999999;
    background-image: url('https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.menuButton {
    margin-left: 90%;
}

.menulogo {
    width: 50%;
    margin-top: 10%;
}

ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a {
    text-decoration: none;
    font-size: 2em;
}