.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signup-box{
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 40vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  .signup-logo img {
    width: 50vw;
    position: absolute;
    top: 4%;
    left: 2%;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-form input {
    width:80%;
    margin-top: 5%;
    align-self: center;
  }
  
  .signup-form button {
    align-self: center;
    width:80%;
  }
  
  .signup-container p {
    margin-left: 25%;
  }
  
  .signup-container a {
    margin-left: 32%;
    color: dimgray;
    font-family: monospace;
  }