<div id="<%= dom_id reservation %>">
  <p>
    <strong>Date:</strong>
    <%= reservation.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= reservation.time %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

</div>
