:root {
  --green: #97bf0f;
  --yellow: #96bf0d;
  --blue: #10bbb5;
  --black: #252525;
  --white: #fff;
}

.form-add-product-container {
  min-width: 375px;
  max-width: 767.98px;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 2px;
  padding: 30px 5px 30px 5px;
  margin: 30px auto;
  background-color: var(--yellow);
}

.add-new-product-title {
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
  text-align: center;
}

.product-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 15px;
}

.product-fields input,
.product-fields textarea {
  width: 100%;
  height: 10px;
  padding: 7px;
  border-radius: 20px;
}

.product-fields textarea {
  height: auto;
}

.btn-add-product {
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  height: auto;
  color: var(--white);
  background-color: var(--blue);
  font-size: 18px;
  transition: 1s ease-in-out;
}

.btn-add-product:hover {
  background-color: green;
}

@media only screen and (min-width: 768px) {
  .form-add-product-container {
    min-width: 100%;
    height: 600px;
  }

  .product-fields {
    gap: 20px;
  }

  .product-fields input,
  .product-fields textarea {
    width: 100%;
    height: 14px;
    padding: 12px;
    font-size: 16px;
  }

  .product-fields textarea {
    height: auto;
  }

  .btn-add-product {
    padding: 18px 36px;
    height: auto;
    color: var(--white);
    background-color: var(--blue);
    font-size: 20px;
  }
}

.create-product-status-text {
  color: green;
}
