a {
  text-decoration: none;
}

h2 {
    color: #252525;
}

h3 {
  color: #a9a9a9;
  font-size: 15px;
}

h4 {
  color: #252525;
}
  
.image {
  width: 100%;
}

.container {
  border: 2px solid #252525;
  border-radius: 6px;
  margin-top: 5%;
  text-align: center;
}

.tesla-model {
  color: #a9a9a9;
}

.latest-model {
  color: #252525;
}