
:root {
  --green: #97bf0f;
  --yellow: #96bf0d;
  --blue: #10bbb5;
  --black: #252525;
  --white: #fff;
}

.products-container {
  /* min-width: 375px;
  max-width: 767.98px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px; */
  height: 100vh;
  border-radius: 2px;
  padding: 30px 5px 5px 5px;
  margin: 30px auto;
  background-color: var(--yellow);
}

.products-delete-title {
  text-align: center;
  color: var(--white);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  color: #fff;
}

.btn-delete-product {
  background-color: #1dbe28;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border: solid 1px #1dbe28;
  border-radius: 5px;
  transition: 1s ease-in-out;
}

.btn-delete-product:hover {
  background-color: #96bf0d;
  border: solid 1px #96bf0d;
}
